# Atari 7800 linker configuration

MEMORY {
    ZP:     start = $40, size = $40, type = rw;
    RAM:    start = $1800, size = $1000, type = rw;
    ROM:    start = $8000, size = $7FF8, type = ro, file = %O, fill = yes;
    VECTORS: start = $FFF8, size = $08, type = ro, file = %O, fill = yes;
}

SEGMENTS {
    ZEROPAGE: load = ZP, type = zp;
    BSS:      load = RAM, type = bss;
    CODE:     load = ROM, type = ro;
    RODATA:   load = ROM, type = ro;
    VECTORS:  load = VECTORS, type = ro;
}
